@{
    ViewBag.Title = "Super Heroes Inc";
}
<div class="clearfix"></div><div class="clearfix"></div>
<div class="col-md-12">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center"><strong>Welcome</strong></h3>
        
        <p>This is the first notable project build that I was given to work on as a student at Centriq. We were tasked with building out a website
        for a 'client' to simulate an <i>Agile</i> environment in order get get some familiarity working in a <i>Sprint</i> and doing a <i>Daily Scrum</i>.
        The sprint duration was two days and the main goal was to familiarize ourselves with the tools being used and the format tasks would be presented in.
        I felt it was worth displaying, at least for the time being, some details of what I experience/used during those two days.
        </p>
        <p>We were given the following:
        <ul>
            <li>A Project Brief
            <ul>
                <li>Outline of stories</li>
                <li>Technical Architecture required</li>
                <li>Target Audience</li>
                <li>Optional Features</li>
                </ul>
            </li>
            <li>Template to convert
            <ul>
                <li>Basic custom css</li>
                <li>Set of Html pages</li>
                <li>Images</li>
                <li>Some elements in each of the categories were purposely broken in various ways
                <ul>Ex:
                    <li>Images had incorrect file types</li>
                    <li>Incorrect class names</li>
                    <li>Imports were not made for css; font-awesome</li>
                </ul>
                </li>
                </ul>
            </li>
            </ul>
        </p><p>The goal was to get as far as we could building a Two-Tier web application in two days. So Here I'll show pieces of what was completed 
        and snippets of the tools I used:<ul>
        <li>Source Control</li>
        <li>Trello</li>
        </ul></p>
    </div>
</div>